window#waybar {
  background-color: rgb(36, 39, 58)
}

.modules-left {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;

  border-radius: 10px;
  background-color: rgb(54, 58, 79);
}

.modules-center {
  margin-top: 5px;
  margin-bottom: 5px;

  border-radius: 10px;
  background-color: rgb(54, 58, 79);
}

.modules-right {
  margin-top: 5px;
  margin-bottom: 5px;

  border-radius: 10px;
  background-color: rgb(54, 58, 79);

  padding-left: 10px;
}

#language,
#clock {
  color: rgb(202, 211, 245);
}

#clock {
  margin-right: 10px;
}

#tray {
  margin: 0px 6px;
}

#tray menu {
  color: rgb(202, 211, 245);
  background-color: rgb(54, 58, 79);
  padding: 5px;
  border-radius: 10px;
}

#tray menu *:hover {
  background-color: rgba(198, 160, 246, 1);
  border-radius: 10px;
}

#workspaces button {
    all:unset;
    padding: 2px 8px;
    color: alpha(rgb(202, 211, 245),.4);
    transition: all .2s ease;
}

#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgb(184, 192, 224);
    transition: all 0.5s ease;
}

#workspaces button.active {
    color: rgb(202, 211, 245);
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 0.5s ease;
}

#workspaces button.empty.active {
    color: rgb(202, 211, 245);
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
