@import url("../colors/clay.css");

window#waybar {
  font-family: 'Comfortaa';
  background-color: @transparent;
}

.modules-left {
  border-radius: 10px;
  background-color: @base01;
}

.modules-center {
  border-radius: 10px;
  background-color: @base01;
}

.modules-right {
  border-radius: 10px;
  background-color: @base01;
  padding-left: 10px;
}

.modules-right * {
  margin-right: 5px;
  margin-left: 5px;
}

#language,
#clock,
#network {
  color: @base2;
}

#clock {
  font-weight: bold;
  margin-top: 1px;
}

#network.disconnected {
  opacity: 0.5;
}

#tray {
  margin: 0px 8px;
}

#tray menu {
  color: rgb(202, 211, 245);
  background-color: @base01;
  padding: 5px;
  border-radius: 10px;
  border: none;
}

#tray window {
  background-color: @transparent;
}

#tray menu separator {
  background-color: @base02;
}

#tray menuitem {
  border: none;
}

#tray menuitem:hover {
  color: @base3;
  font-weight: bold;
  background-color: @orange;
  border-radius: 10px;
  border: none;
}

#tray menuitem check {
  border: 1.25px solid rgb(202, 211, 245);
  transition: none;
}

#tray menuitem check:hover {
  border: 1.25px solid @base3;
}

#tray menuitem check:checked {
  background-color: rgb(202, 211, 245);
  color: @base01;
}

#tray menuitem check:checked:hover {
  background-color: @base3;
  color: @orange;
}

#workspaces button {
    all: unset;
    padding: 2px 8px;
    color: @base3;
    transition: all .2s ease;
}

#workspaces button:hover {
    color: @transparent;
    border: none;
    text-shadow: 0px 0px 1.5px @base2;
    transition: all 0.5s ease;
}

#workspaces button.active {
    color: @base3;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: @transparent;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 0.5s ease;
}

#workspaces button.empty.active {
    color: @base2;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#custom-notification {
  color: @base3;
  font-weight: bold;
}
