layout {
	pane split_direction="vertical" {
		pane size="70%" focus=true name="main"
		pane split_direction="horizontal" {
			pane command="pnpm" {
				args "tauri" "dev"
				start_suspended true
			}
			pane size="60%" name="second"
		}
	}
	pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
