@import url("../colors/clay.css");
@import url("./styles/notifications.css");
@import url("./styles/central_control.css");

* {
  all: unset;
  font-size: 1.25rem;
  font-family: 'URW Gothic';
  color: @base3;
  transition: 200ms;
}
