.image {
  margin: 5px;
  margin-right: 10px;
}

.summary {
  padding-left: 0;
  margin-left: 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.body {
  font-size: 1rem;
}

.time {
  font-size: 0.8rem;
  opacity: 0.75;
}

.notification-group {
  margin-top: 10px;
}

.notification-group .horizontal {
  padding: 3px 4px;
  background-color: @transparent;
}

.notification-group .horizontal .circular.image-button {
  border-radius: 5px;
}

.notification-group .horizontal .circular.image-button:hover {
  background: @surface1;
}

.notification-group .horizontal .circular.image-button:active {
  background: @surface0;
}

.notification-group-icon {
  margin-right: 4px;
}

.notification-group-header.title-1 {
  font-weight: bold;
}

.notification-group {
  background-color: @surface0;
  border-radius: 10px;
}

.collapsed.notification-group {
  background-color: @transparent;
}

.collapsed.notification-group .horizontal {
  border-radius: 10px;
  background-color: @surface0;
}

.notification-group .notification-row .body {
  padding-left: 4px;
}

.notification-group:not(.collapsed) .notification-row .notification {
  margin-top: 8px;
}

.notification-group .notification-row>* .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 5px;
  color: @bg;
  background-color: @surface0;
}

.notification-group .notification-row>* .close-button:hover {
  background-color: @surface1;
}

.notification-group .notification-row>* .close-button:active {
  background-color: @surface0;
}

.notification-group .notification-row>* .time {
  margin-top: 3px;
}

.notification-group .vertical.notification .notification-content>*:first-child {
  padding: 8px;
}

/* floating notifications */
.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 10px;
  background-color: @bg;
  padding: 0;
}

.floating-notifications.background .notification {
  padding: 5px 10px;
  border-radius: 10px;
}

.floating-notifications.background .notification .notification-content {
  margin: 5px;
}

.floating-notifications.background .notification .notification-content .summary {
  font-weight: bold;
}

.floating-notifications.background .notification .notification-content .image {
  margin-right: 10px;
  border-radius: 20px;
}

.floating-notifications.background .notification .notification-content .time {
  color: @weak-white;
}

.floating-notifications.background .notification>*:last-child>* {
  min-height: 3.5rem;
}

.floating-notifications.background .notification>*:last-child>* .notification-action {
  border-radius: 6px;
  background-color: @surface0;
  margin: 10px;
}

.floating-notifications.background .notification>*:last-child>* .notification-action:hover {
  background-color: @surface1;
}

.floating-notifications.background .notification>*:last-child>* .notification-action:active {
  background-color: @surface0;
}

.floating-notifications.background .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 5px;
  color: @bg;
  background-color: @surface0;
}

.floating-notifications.background .notification-background .close-button:hover {
  background-color: @surface1;
}

.floating-notifications.background .notification-background .close-button:active {
  background-color: @surface0;
}

/* critical and low notifications */
.floating-notifications.background .notification.critical {
  box-shadow: inset 0 0 0 3px @red;
}

.notification-group .vertical.notification.critical .notification-content>*:first-child {
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px @red;
}

.floating-notifications.background .notification.low {
  box-shadow: inset 0 0 0 3px @yellow;
}

.notification-group .vertical.notification.low .notification-content>*:first-child {
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px @yellow;
}

