window {
  background-color: #343f44;
  color: #d3c6aa;
  font-size: 16px;
  font-family: Nunito;
  font-weight: 600;
  border-radius: 10px;
}

#input {
  background-color: #232a2e;
  border: none;
  margin: 10px 7px 0 7px;
  border-radius: 10px;
  color: #d3c6aa;
}

#scroll {
  margin: 5px;
}

#entry {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

.entry {
  border-radius: 10px;
  padding: 5px;
}

#entry #selected {
  background-color: #4F585E;
}


#input * {
  color: #d3c6aa;
}

#img {
  margin-right: 10px;
}